.container{
  
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  

  
}
h1{
  color: white;

}
body{
  background-color: rgb(24, 24, 24);
}
.history{
  background-color: rgb(65, 65, 62);
  
  
}
.Main{
  display: flex;
  
  flex-direction: column;
  
}
